.table {
	border: 1px solid black;
	border-collapse: collapse;
    width: 100%;
}
.sum, .bonus, .total{
	background-color: #ccccb3;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.locked,.thisLocked{
	background: red;
}


.dice{
	font-size: 72px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

  .toBeselected {
    border: 2px solid #ccccb3;
  }

.hint{
	color: lightgrey;
}