  function displayDices(dices){ return `
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Roll the dices</h3>
  </div>
  <div class="panel-body">
    <div class = "dice" id="1">${dices[0].symbol}</div>
    <div class = "dice" id="2">${dices[1].symbol}</div>
    <div class = "dice" id="3">${dices[2].symbol}</div>
    <div class = "dice" id="4">${dices[3].symbol}</div>
    <div class = "dice" id="5">${dices[4].symbol}</div>
  </div>
</div>
`};