function displayScoreBoard (){ return`
<div class="container col-xs-6">
    <!-- Table -->
    <table class="table yatzy-table col-xs-6">
      <col class="titles-col" />
      <tr class="titles">
        <!--<th>Category</th>-->
      </tr>
      <tr class="ones">
        <td>Ones</td>
      </tr>
      <tr class="twos">
        <td>Twos</td>
      </tr>
      <tr class="threes">
        <td>Threes</td>
      </tr>
      <tr class="fours">
        <td>Fours</td>
      </tr>
      <tr class="fives">
        <td>Fives</td>
      </tr>
      <tr class="sixes">
        <td>Sixes</td>
      </tr>
      <tr class="sum">
        <td>Sum</td>
      </tr>
      <tr class="bonus">
        <td>Bonus(63)</td>
      </tr>
      <tr class="onePair">
        <td>1 Pair</td>
      </tr>
      <tr class="twoPairs">
        <td>2 Pairs</td>
      </tr>
      <tr class="threeOfAKind">
        <td>3 of a kind</td>
      </tr>
      <tr class="fourOfAKind">
        <td>4 of a kind</td>
      </tr>
      <tr class="smallStraight">
        <td>Small straight</td>
      </tr>
      <tr class="largeStraight">
        <td>Large straight</td>
      </tr>
      <tr class="fullHouse">
        <td>Full houses</td>
      </tr>
      <tr class="chance">
        <td>Chance</td>
      </tr>
      <tr class="yatzy">
        <td>Yatzy</td>
      </tr>
      <tr class="total">
        <td>Total</td>
      </tr>
    </table>

</div>
`
}