function displayHighScores (){ return `

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

<div class="modal fade high-scores-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content col-xs-12">
      <h3>High scores</h3>
	  <!-- Table -->
	  <table class="table high-scores-table">
	  </table>
    </div>
  </div>
</div>
	<!-- <div class="high-scores-container col-xs-12 col-sm-8 col-sm-push-2">
	<h3>High scores</h3>
	 
	  <table class="table high-scores-table">
	    <tr>
	    	<th>Rank</th>
	    	<th>Username</th>
	    	<th>Score</th>	
	    </tr>
	  </table>
	</div> -->
`}