function rulesModal (){ return `
<div class="modal fade rules-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-xs-12">
      <h3>Rules</h3>
	  <div class="rules">
	  <h2>How to play</h2>
	  <p>
The first player starts, then rotate it clockwise. Every time there's a player's turn, he has a maximum of three dice rolls. For each throwd the player chooses what dice to save for the next roll by clicking it all "locked" dices will not be thrown. The player can at any time stop throwing if the player is happy whith the result of the throw, then the player clicks the field he/she wish to put the points into. </p>

<h2>Bonus</h2>
<p>The bonus awards 50 points and is achieved by getting a total of 63 or higher on the rows 1-6 if the player fails to achieve 63 or higher the bonus sets to 0</p>

<h2>The lower bracket</h2>
<p>Pair: Ex. 5-3-3-2-1, two 3:s give 6 points<br>
Two Pair: Ex. 5-3-3-4-4, two 3:s and two 4:s gives in this case 14 points<br>
Three of a kind: Ex. 5-3-3-3-2, three 3:s in this case gives 9 points <br>
Four of a kind: Ex. 5-4-4-4-4, four 4:s in this case gives 16 points <br>
Small straight: Ex. 1-2-3-4-5 one each of 1-5 gives 15 points<br>
Large Staright: Ex. 2-3-4-5-6 one each of 2-6 gives 20 points<br>
Full House: Ex.3-5-5-3-3, three 3:s and two 5:s in this case gives 19 points<br>
Chance: All five dices sums together and is put into chance, usually the player takes chance when he didnt get anything else<br>
Yatzy: All five dices have the same value Ex 1-1-1-1-1 gives 50 points always </p>
	  </div>
    </div>
  </div>
</div>
`}